.elementor-11
  .elementor-element.elementor-element-311dbac6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-311dbac6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #030428;
}
.elementor-11 .elementor-element.elementor-element-311dbac6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-311dbac6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-9898804 {
  text-align: left;
}
.elementor-11 .elementor-element.elementor-element-9898804 img {
  width: 30%;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .elementor-nav-menu
  .elementor-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-framed
  .elementor-item:before {
  border-width: 0px;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 0px 0px;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 0px 0px 0 0;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 0px 0 0 0px;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 0px 0px 0;
}
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-underline
  .elementor-item:after,
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-overline
  .elementor-item:before,
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-double-line
  .elementor-item:before,
.elementor-11
  .elementor-element.elementor-element-172cb369
  .e--pointer-double-line
  .elementor-item:after {
  height: 0px;
}
.elementor-11
  .elementor-element.elementor-element-29283837
  > .elementor-background-overlay {
  background-image: url("../images/a388923b97e84c46d41f64a7740ea5a7.jpg");
  background-size: cover;
  opacity: 1;
}
.elementor-11 .elementor-element.elementor-element-17c55d97 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-10e6b62 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-194aee21 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-3c568924 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-3c568924
  .elementor-heading-title {
  color: #fff6f6;
  font-family: "Moul", Sans-serif;
  font-size: 82px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-5241de83 .elementor-button {
  font-family: "Georgia", Sans-serif;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border-radius: -17px -17px -17px -17px;
}
.elementor-11 .elementor-element.elementor-element-5990ee25 .elementor-button {
  font-family: "Georgia", Sans-serif;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border-radius: -17px -17px -17px -17px;
}
.elementor-11 .elementor-element.elementor-element-49bbfc68 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border-radius: -17px -17px -17px -17px;
}
.elementor-11 .elementor-element.elementor-element-49bbfc68 {
  --e-transform-transition-duration: 100ms;
}
.elementor-11
  .elementor-element.elementor-element-2722da4d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-2722da4d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #020024;
}
.elementor-11 .elementor-element.elementor-element-2722da4d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-2722da4d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-7da8327f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-7da8327f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #043bf1;
}
.elementor-11 .elementor-element.elementor-element-7da8327f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-7da8327f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-3248e6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-3248e6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: #40679e;
  background: rgb(101, 126, 161);
  background: -moz-linear-gradient(
    77deg,
    rgba(101, 126, 161, 1) 0%,
    rgba(63, 112, 164, 1) 51%,
    rgba(64, 103, 158, 1) 100%
  );
  background: -webkit-linear-gradient(
    77deg,
    rgba(101, 126, 161, 1) 0%,
    rgba(63, 112, 164, 1) 51%,
    rgba(64, 103, 158, 1) 100%
  );
  background: linear-gradient(
    77deg,
    rgba(101, 126, 161, 1) 0%,
    rgba(63, 112, 164, 1) 51%,
    rgba(64, 103, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#657ea1",endColorstr="#40679e",GradientType=1);
}
.elementor-11 .elementor-element.elementor-element-3248e6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-3248e6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-50591f6b
  > .elementor-element-populated {
  padding: 22px 22px 22px 22px;
}
.elementor-11 .elementor-element.elementor-element-57dc4882 {
  text-align: left;
}
.elementor-11
  .elementor-element.elementor-element-57dc4882
  .elementor-heading-title {
  color: #fff6f6;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 53px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-62755102 {
  color: #fffbfb;
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 19px;
}
.elementor-11 .elementor-element.elementor-element-2b2440a3 {
  color: #fffbfb;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 19px;
}
.elementor-11 .elementor-element.elementor-element-1753b061 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #65c3b8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-1753b061
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-3c32f118
  .elementor-icon-wrapper {
  text-align: right;
}
.elementor-11
  .elementor-element.elementor-element-3c32f118.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-11
  .elementor-element.elementor-element-3c32f118.elementor-view-framed
  .elementor-icon,
.elementor-11
  .elementor-element.elementor-element-3c32f118.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-11
  .elementor-element.elementor-element-3c32f118.elementor-view-framed
  .elementor-icon,
.elementor-11
  .elementor-element.elementor-element-3c32f118.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-11 .elementor-element.elementor-element-3656c215 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-3656c215
  .elementor-heading-title {
  color: #fdfdfd;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 33px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-3656c215
  > .elementor-widget-container {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #65c3b8;
}
.elementor-11
  .elementor-element.elementor-element-17179674
  > .elementor-widget-container {
  padding: 24px 24px 24px 24px;
}
.elementor-11
  .elementor-element.elementor-element-719df19c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-719df19c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #043bf1;
}
.elementor-11 .elementor-element.elementor-element-719df19c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-719df19c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-349f550a
  > .elementor-element-populated {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #65c3b8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-349f550a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-45e4843c {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-45e4843c
  .elementor-heading-title {
  color: #fdfdfd;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 33px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-45e4843c
  > .elementor-widget-container {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #65c3b8;
}
.elementor-11 .elementor-element.elementor-element-734f2373 {
  text-align: center;
  color: #fffbfb;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.elementor-11
  .elementor-element.elementor-element-734f2373
  > .elementor-widget-container {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #65c3b8;
}
.elementor-11
  .elementor-element.elementor-element-2722105d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-2722105d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #043bf1;
}
.elementor-11 .elementor-element.elementor-element-2722105d {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-2722105d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-5c393c9f {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-4ba488fc {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-4ba488fc
  .elementor-heading-title {
  color: #07c59d;
  font-family: "Orbitron", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-44d6141a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-44d6141a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #043bf1;
}
.elementor-11 .elementor-element.elementor-element-44d6141a {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-44d6141a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-77a393be {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-95c4f31 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-95c4f31
  .elementor-heading-title {
  color: #fff6f6;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 53px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-5a4c5d18:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-5a4c5d18
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #043bf1;
}
.elementor-11 .elementor-element.elementor-element-5a4c5d18 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11
  .elementor-element.elementor-element-5a4c5d18
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-58d857f2 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-4f5cfad2 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-4f5cfad2
  .elementor-heading-title {
  color: #07c59d;
  font-family: "Orbitron", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-f2b998e {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-f2b998e
  .elementor-heading-title {
  color: #c2c2c2;
  font-family: "Orbitron", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-47e68b88 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-7fba6814 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-7fba6814
  .elementor-heading-title {
  color: #07c59d;
  font-family: "Orbitron", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-4df4ce68 {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-4df4ce68
  .elementor-heading-title {
  color: #c2c2c2;
  font-family: "Orbitron", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-11
  .elementor-element.elementor-element-281730d6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-11
  .elementor-element.elementor-element-281730d6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #839beb;
}
.elementor-11
  .elementor-element.elementor-element-281730d6
  > .elementor-background-overlay {
  background-position: center center;
  background-color: #769bd4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11 .elementor-element.elementor-element-281730d6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-11 .elementor-element.elementor-element-481e05f1 {
  --spacer-size: 50px;
}
.elementor-11 .elementor-element.elementor-element-9946aae img {
  width: 67%;
}
.elementor-bc-flex-widget
  .elementor-11
  .elementor-element.elementor-element-16e3c827.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-11
  .elementor-element.elementor-element-16e3c827.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-11 .elementor-element.elementor-element-59eb409f {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-59eb409f
  .elementor-heading-title {
  color: #fff6f6;
  font-family: "Share Tech Mono", Sans-serif;
  font-size: 44px;
  font-weight: 600;
}
.elementor-11 .elementor-element.elementor-element-e9cbc0f {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-11
  .elementor-element.elementor-element-e9cbc0f
  .elementor-widget-container {
  text-align: center;
}
@media (max-width: 767px) {
  .elementor-11 .elementor-element.elementor-element-5bc1510b img {
    width: 76%;
  }
  .elementor-11
    .elementor-element.elementor-element-3c32f118
    .elementor-icon-wrapper {
    text-align: center;
  }
  .elementor-11 .elementor-element.elementor-element-9946aae img {
    width: 54%;
  }
  .elementor-11
    .elementor-element.elementor-element-e9cbc0f
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-11 .elementor-element.elementor-element-7e43175f {
    width: 30.965%;
  }
  .elementor-11 .elementor-element.elementor-element-39646d10 {
    width: 69.035%;
  }
  .elementor-11 .elementor-element.elementor-element-6b95772b {
    width: 28.333%;
  }
  .elementor-11 .elementor-element.elementor-element-799a422f {
    width: 42.642%;
  }
  .elementor-11 .elementor-element.elementor-element-49d71d78 {
    width: 28.691%;
  }
  .elementor-11 .elementor-element.elementor-element-eb61287 {
    width: 14.652%;
  }
  .elementor-11 .elementor-element.elementor-element-4fc82f6a {
    width: 85.259%;
  }
  .elementor-11 .elementor-element.elementor-element-29a048e5 {
    width: 19.034%;
  }
  .elementor-11 .elementor-element.elementor-element-349f550a {
    width: 65.544%;
  }
  .elementor-11 .elementor-element.elementor-element-587772bd {
    width: 14.727%;
  }
}

.anton-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
